[Unit]
Description=Modem-Restart-Service
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory={{ venv_home }}
ExecStart={{ venv_home }}.venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target